.container{
  background-image: url(backgroundCV.jpg);
  background-size: cover;  
  height: 1756px;
  width: 1240px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.img-circle {
position: absolute;
margin: 70px 100px 100px 90px;
}
.section-info .col-md-2 {
  padding: 0px 0px 0px 10px;
}

.section-picture {
  height: 24%;
}

.section-address1 li {
  font-weight: bold;
  padding: 0px 0px 30px 70px;
}

.section-address1 .address {
  padding: 0px 0px 80px 70px;
}

.section-address2 li {
  padding: 0px 0px 30px 0px;
}

.section-address2 .address {
  padding: 0px 0px 30px 0px;
}

h3 {
  font-weight: bold;
  margin: 0px 100px ;
  letter-spacing: 2px;
}

.edu-box {
  margin-left: 70px;
}

.h3-edu {
  font-weight: bold;
  margin: 0px;
  letter-spacing: 3px;
}

.ll {
  padding: 30px 70px 20px 15px;
}

h5 {
  font-weight: bold;
  margin: 35px 0px 20px;
  letter-spacing: 1px;
}

.intro-text {
  margin: 30px 70px 50px 100px;
  text-align: justify; 
}

.skills-list {
  padding: 30px 70px 30px 120px;
  text-align: justify;
}

.project-list {
  padding: 30px 70px 30px 120px;
  text-align: justify;
}

.progress{
    width: 100px;
    height: 100px;
    line-height: 10px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 8px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 0.9s linear forwards;
}

.progress.blue .progress-bar{
    border-color: #084880;
}

.progress.blue .progress-left .progress-bar{
    animation: loading-2 0.9s linear forwards 0.9s;
}

@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}


